
@font-face{
    font-family: "Figtree";
    src: url("fonts/Figtree-Italic-VariableFont_wght.ttf") format("truetype");
    font-style: italic;
    font-weight: 100 900;
}

@font-face {
    font-family: "Figtree";
    src: url("fonts/Figtree-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-weight: 100 900;
}


body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(47, 88%, 63%);

}

main{
    max-width: min(380px, 80%);
    border: solid 1px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 7%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    gap: 24px;
    box-shadow: 8px 8px;

}

.illustration-art{
    width: 100%;
    height: auto;
    border-radius: 16px;
}



.tag{
    background-color: hsl(47, 88%, 63%);
    width: min(100px, 30%);
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    
}

h1{
    font-family: Figtree, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    font-weight: 900;
    color: hsl(0, 0%, 7%)
}

p {
    font-family: Figtree, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;

}

.author{
    display: flex;
    flex-direction: row;
    gap: 24px;

}

.author > p{
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
}

.tag > p {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 900;
}

.descr{
    font-size: 20px;
    margin: 0px;
    color:hsl(0, 0%, 42%);
    line-height: 2rem;
    font-weight: 600;
}
.date_published{
    margin: 0px;
    font-size: 18px;
    font-weight: 600;
    color: hsl(0, 0%, 7%);
}

.metadata-card{
    display: flex;
    flex-direction: column;
    gap: 24px;
}